@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.button {
  padding: .6rem 2.5rem !important;
  background-color: #5C9C52;
  color: white;
  border-radius: 40px;
  border: 2px solid #5C9C52;
  display: inline-block;
}

.button.btn-white {
  background-color: white;
  color: #5C9C52;
  border: 2px solid white;
}

.button.btn-secondary {
  background-color: #F96900;
  color: white;
  border: 2px solid #F96900;
}

.button.btn-hollow {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.button.btn-hollow-secondary {
  background-color: transparent;
  color: #F96900;
  border: 2px solid #F96900;
}

.title {
  margin-bottom: 4rem;
  text-align: center;
}

.title h3 {
  font-size: 34px;
}

.navbar {
  background-color: #7EC173;
  color: white;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container .navbar-brand {
  padding: 1rem 0;
}

.navbar .container .menu-lists ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.navbar .container .menu-lists ul li {
  padding: 1rem;
}

.navbar .container .menu-lists ul .button {
  margin-left: 1rem;
}

.hero {
  background: #7EC173;
  margin-top: -2px;
}

.hero .container {
  color: white;
  padding: 3rem 0 6rem;
}

.hero .container .hero-text h1 {
  font-size: 68px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero .container .hero-text h6 {
  margin-bottom: 1.5rem;
}

.hero .container .hero-text .button {
  font-weight: 700;
  padding: 1rem 1.5rem !important;
  font-size: 20px;
}

.invest {
  padding: 5rem 0;
}

.invest .container {
  padding: 0 2rem;
}

.invest .container .items .item {
  padding: 1.5rem 1.5rem;
}

.invest .container .items .item .img {
  margin-bottom: 40px;
}

.invest .container .items .item h4 {
  margin-bottom: 1rem;
  font-weight: 500;
}

.invest .container .items .item h6 {
  font-weight: 400;
  color: #9E9EA9;
}

.projects {
  padding: 5rem 0;
}

.projects .project {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  padding-top: 0;
  margin-bottom: 2rem;
}

.projects .project .project-image {
  margin-bottom: .5rem;
}

.projects .project .project-image img {
  border-radius: 1rem 1rem 0 0;
}

.projects .project .project-header, .projects .project .project-body, .projects .project .project-footer {
  padding: .5rem 1rem;
}

.projects .project .project-header p, .projects .project .project-header h5, .projects .project .project-body p, .projects .project .project-body h5, .projects .project .project-footer p, .projects .project .project-footer h5 {
  margin-bottom: .5rem;
}

.projects .project .project-header .progress, .projects .project .project-body .progress, .projects .project .project-footer .progress {
  margin-bottom: 1rem;
  color: white;
  position: relative;
}

.projects .project .project-header .progress .text, .projects .project .project-body .progress .text, .projects .project .project-footer .progress .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.projects .project .project-header .progress .progress-bar, .projects .project .project-body .progress .progress-bar, .projects .project .project-footer .progress .progress-bar {
  background-color: #5C9C52;
}

.projects .project-link {
  margin-top: 2rem;
  text-align: center;
}

.projects .project-link .button {
  padding: 1rem 3rem !important;
  font-size: 20px;
}

.method {
  padding: 5rem 0;
}

.method .title {
  margin-bottom: 2rem;
}

.method .nav-tabs {
  border-bottom: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.method .nav-tabs .nav-link {
  border: 2px solid #5C9C52;
  color: #5C9C52;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  padding: .75rem 2rem;
  font-size: 20px;
}

.method .nav-tabs .nav-link:first-child {
  border-radius: 2rem 0 0 2rem;
  border-right: 1px solid #5C9C52;
}

.method .nav-tabs .nav-link:last-child {
  border-radius: 0 2rem 2rem 0;
  border-left: 1px solid #5C9C52;
}

.method .nav-tabs .nav-link.active {
  background-color: #5C9C52;
  color: white;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.method .tab-pane {
  padding: 2rem 0;
}

.method .tab-pane .method-image img {
  border-radius: .5rem;
}

.method .tab-pane .number {
  padding: .5rem;
  border-radius: 50%;
  background-color: #5C9C52;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: 700;
  margin-right: 1rem;
}

.method .tab-pane .step {
  color: #5C9C52;
  font-size: 20px;
  font-weight: 500;
}

.method .tab-pane .step-desc {
  padding-left: 36px;
  margin-left: 20px;
  padding-top: .5rem;
  padding-bottom: 1rem;
  border-left: 2px solid #C9C9CF;
}

.method .tab-pane .step-desc:last-child {
  border-left: none;
}

.team {
  padding: 5rem 0;
}

.team .item {
  text-align: center;
  padding: 0 .5rem;
}

.team .item img {
  width: 100%;
}

.team .item .team-name {
  color: #F96900;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: .5rem;
}

.team .item p {
  font-size: 20px;
}

.cta {
  position: relative;
  color: white;
}

.cta .background {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 25%;
  background-color: #5C9C52;
  z-index: -1;
}

.cta .col-md-3 {
  width: 27%;
}

.cta .col-md-9 {
  width: 73%;
}

.cta .cta-text {
  margin-top: 10%;
  padding-left: 4rem;
}

.cta .cta-text h4 {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2rem;
}

.cta .cta-text h5 {
  margin-bottom: 2rem;
  font-size: 20px;
  font-weight: 500;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
}

h6 {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */