@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
/* BREAKPOINTS */
.button {
  padding: .6rem 2.5rem !important;
  background-color: #5C9C52;
  color: white;
  border-radius: 40px;
  border: 2px solid #5C9C52;
  display: inline-block;
}

.button.btn-white {
  background-color: white;
  color: #5C9C52;
  border: 2px solid white;
}

.button.btn-secondary {
  background-color: #F96900;
  color: white;
  border: 2px solid #F96900;
}

.button.btn-hollow {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.button.btn-hollow-secondary {
  background-color: transparent;
  color: #F96900;
  border: 2px solid #F96900;
}

.title {
  margin-bottom: 4rem;
  text-align: center;
}

@media (max-width: 37.5em) {
  .title {
    margin-bottom: 2rem;
  }
  .title h2 {
    font-size: 22px;
    font-weight: 700;
  }
}

.navbar {
  background-color: #7EC173;
  color: white;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container .navbar-brand {
  padding: 1rem 0;
}

.navbar .container .menu-lists ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.navbar .container .menu-lists ul li {
  padding: 1rem;
}

.navbar .container .menu-lists ul .button {
  margin-left: 1rem;
}

.navbar .container .hamburger {
  display: none;
}

.navbar .container .offcanvas {
  width: 330px;
  color: #5C9C52;
  padding: 0 1rem;
  padding-top: 2rem;
}

.navbar .container .offcanvas .btn-close {
  color: white !important;
}

.navbar .container .offcanvas ul {
  padding: 2rem 0;
  font-weight: 700;
  font-size: 18px;
  margin-top: 2rem;
}

.navbar .container .offcanvas ul li {
  padding-bottom: 1.5rem;
}

.navbar .container .offcanvas ul .button {
  margin-bottom: 1.5rem;
}

.navbar .container .offcanvas ul .btn-hollow {
  color: #5C9C52;
  border: 2px solid #5C9C52;
}

.navbar .container .offcanvas ul .btn-white {
  color: white;
  background-color: #5C9C52;
  border-color: #5C9C52;
}

@media (max-width: 60em) {
  .navbar {
    background-color: white;
  }
  .navbar .container {
    padding: 0 1rem !important;
  }
  .navbar .container .menu-lists {
    display: none;
  }
  .navbar .container .navbar-brand {
    padding: .5rem 0;
  }
  .navbar .container .navbar-brand img {
    max-width: 150px;
  }
  .navbar .container .hamburger {
    display: block;
  }
}

.hero {
  background: #7EC173;
  margin-top: -2px;
}

.hero .container {
  color: white;
  padding: 3rem 0 6rem;
}

.hero .container .hero-text h1 {
  font-size: 68px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero .container .hero-text h6 {
  margin-bottom: 1.5rem;
}

.hero .container .hero-text .button {
  font-weight: 700;
  padding: 1rem 1.5rem !important;
  font-size: 20px;
}

@media (max-width: 60em) {
  .hero .container {
    padding: 2rem 1rem !important;
  }
  .hero .container .hero-text {
    margin-bottom: 2rem;
  }
  .hero .container .hero-text h1 {
    font-size: 38px;
  }
  .hero .container .hero-text h6 {
    font-size: 1rem;
  }
  .hero .container .hero-text .buttons {
    display: block !important;
  }
  .hero .container .hero-text .buttons .btn-white, .hero .container .hero-text .buttons .btn-hollow {
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: .75rem 1.5rem !important;
  }
}

@media (max-width: 37.5em) {
  .hero .container .hero-text .btn-hollow {
    display: none;
  }
}

.invest {
  padding: 5rem 0;
}

@media (max-width: 60em) {
  .invest {
    padding: 2rem 0;
  }
}

.invest .container {
  padding: 0 2rem;
}

.invest .container .items .item {
  padding: 1.5rem 1.5rem;
}

.invest .container .items .item .img {
  margin-bottom: 40px;
}

.invest .container .items .item h4 {
  margin-bottom: 1rem;
  font-weight: 500;
}

.invest .container .items .item h6 {
  font-weight: 400;
  color: #9E9EA9;
}

.projects {
  padding: 5rem 0;
}

@media (max-width: 60em) {
  .projects {
    padding: 2rem 0;
  }
}

.projects .project {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  padding-top: 0;
  margin-bottom: 2rem;
}

.projects .project .project-image {
  margin-bottom: .5rem;
}

.projects .project .project-image img {
  border-radius: 1rem 1rem 0 0;
}

.projects .project .project-header, .projects .project .project-body, .projects .project .project-footer {
  padding: .5rem 1rem;
}

.projects .project .project-header p, .projects .project .project-header h5, .projects .project .project-body p, .projects .project .project-body h5, .projects .project .project-footer p, .projects .project .project-footer h5 {
  margin-bottom: .5rem;
}

.projects .project .project-header .progress, .projects .project .project-body .progress, .projects .project .project-footer .progress {
  margin-bottom: 1rem;
  color: white;
  position: relative;
}

.projects .project .project-header .progress .text, .projects .project .project-body .progress .text, .projects .project .project-footer .progress .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.projects .project .project-header .progress .progress-bar, .projects .project .project-body .progress .progress-bar, .projects .project .project-footer .progress .progress-bar {
  background-color: #5C9C52;
}

.projects .project-link {
  margin-top: 2rem;
  text-align: center;
}

.projects .project-link .button {
  padding: 1rem 3rem !important;
  font-size: 20px;
}

.method {
  padding: 5rem 0;
}

@media (max-width: 60em) {
  .method {
    padding: 2rem 0;
  }
}

.method .title {
  margin-bottom: 2rem;
}

.method .nav-tabs {
  border-bottom: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.method .nav-tabs .nav-link {
  border: 2px solid #5C9C52;
  color: #5C9C52;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  padding: .75rem 2rem;
  font-size: 20px;
}

.method .nav-tabs .nav-link:first-child {
  border-radius: 2rem 0 0 2rem;
  border-right: 1px solid #5C9C52;
}

.method .nav-tabs .nav-link:last-child {
  border-radius: 0 2rem 2rem 0;
  border-left: 1px solid #5C9C52;
}

.method .nav-tabs .nav-link.active {
  background-color: #5C9C52;
  color: white;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

@media (max-width: 60em) {
  .method .nav-tabs .nav-link {
    font-size: 16px;
    padding: .5rem 1.5rem;
  }
}

.method .tab-pane {
  padding: 2rem 0;
}

@media (max-width: 60em) {
  .method .tab-pane .method-desc {
    margin-top: 1.5rem;
  }
}

.method .tab-pane .method-image img {
  border-radius: .5rem;
}

.method .tab-pane .number {
  padding: .5rem;
  border-radius: 50%;
  background-color: #5C9C52;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: 700;
  margin-right: 1rem;
}

.method .tab-pane .step {
  color: #5C9C52;
  font-size: 20px;
  font-weight: 500;
}

.method .tab-pane .step-desc {
  padding-left: 36px;
  margin-left: 20px;
  padding-top: .5rem;
  padding-bottom: 1rem;
  border-left: 2px solid #C9C9CF;
}

.method .tab-pane .step-desc:last-child {
  border-left: none;
}

.team {
  padding: 5rem 0;
}

@media (max-width: 60em) {
  .team {
    padding: 2rem 0;
  }
}

.team .item {
  text-align: center;
  padding: 0 .5rem;
}

.team .item img {
  width: 100%;
}

.team .item .team-name {
  color: #F96900;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: .5rem;
}

.team .item p {
  font-size: 20px;
}

@media (max-width: 60em) {
  .team .item {
    margin-bottom: 2rem;
  }
  .team .item .team-name {
    font-size: 20px;
  }
  .team .item p {
    font-size: 1rem;
  }
}

.cta {
  position: relative;
  color: white;
}

.cta .background {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 25%;
  background-color: #5C9C52;
  z-index: -1;
}

@media (min-width: 64em) {
  .cta .col-lg-3 {
    width: 27%;
  }
  .cta .col-lg-9 {
    width: 73%;
  }
}

@media (max-width: 37.5em) {
  .cta .background {
    height: 100%;
    top: 0;
  }
  .cta .container {
    padding: 0 1rem !important;
  }
  .cta .container img {
    max-width: 220px;
  }
  .cta .container .col-lg-3 {
    text-align: center;
    margin-top: 1rem;
  }
  .cta .container .col-lg-9 {
    padding-left: .75rem;
    text-align: center;
  }
}

.cta .cta-text {
  margin-top: 10%;
  padding-left: 4rem;
  padding-bottom: 1rem;
}

.cta .cta-text h4 {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2rem;
}

.cta .cta-text h5 {
  margin-bottom: 2rem;
  font-size: 20px;
  font-weight: 500;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .cta .background {
    height: 85%;
    top: 15%;
  }
  .cta .cta-text {
    padding-left: 1rem;
  }
  .cta .cta-text h4 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }
  .cta .cta-text h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.footer {
  padding: 3rem 0;
  background-color: #2C302E;
  color: white;
}

.footer .footer-logo {
  margin-bottom: 3rem;
}

.footer h5 {
  font-size: 22px;
}

.footer .footer-risk {
  margin-top: 2rem;
  border-top: 1px solid white;
  padding-top: 2rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: .75rem;
  margin-right: .75rem;
}

.footer .footer-risk h5 {
  margin-bottom: 2rem;
}

.footer .copyright {
  margin-top: 2rem;
  border-top: 1px solid white;
  padding-top: 2rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: .75rem;
  margin-right: .75rem;
}

.footer .copyright .links a {
  text-decoration: underline;
}

@media (max-width: 60em) {
  .footer .footer-item {
    margin-bottom: 3rem;
  }
  .footer .footer-item:last-child {
    margin-bottom: 1rem;
  }
  .footer .footer-risk, .footer .copyright {
    margin-left: 0;
    margin-right: 0;
    padding-left: .75rem;
    padding-right: .75rem;
  }
  .footer .links {
    margin-bottom: 2rem;
  }
  .footer .links .d-flex {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@media (max-width: 37.5em) {
  .container {
    padding: 1rem !important;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
}

h6 {
  font-size: 18px;
}

@media (max-width: 60em) {
  h6 {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */