@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Nunito+Sans:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap");
/* BREAKPOINTS */
.primary-color {
  color: #5C9C52;
}

.secondary-color {
  color: #F96900;
}

.grey-color {
  color: #9E9EA9;
}

.success-color {
  color: #46C938;
}

.danger-color {
  color: #FF3D3A;
}

.button {
  padding: .6rem 2.5rem !important;
  background-color: #5C9C52;
  color: white;
  border-radius: 40px;
  border: 2px solid #5C9C52;
  display: inline-block;
  text-align: center;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.button:hover, .button:active {
  background-color: #487b40;
  border-color: #5C9C52;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.button.full {
  width: 100%;
}

.button.btn-white {
  background-color: white;
  color: #5C9C52;
  border: 2px solid white;
}

.button.btn-secondary {
  background-color: #F96900;
  color: white;
  border: 2px solid #F96900;
}

.button.btn-secondary:hover, .button.btn-secondary:active {
  background-color: #c65300;
}

.button.btn-hollow {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.button.btn-hollow-secondary {
  background-color: transparent;
  color: #F96900;
  border: 2px solid #F96900;
}

.button.btn-hollow-primary {
  background-color: transparent;
  color: #5C9C52;
  border: 2px solid #5C9C52;
}

.button.btn-hollow-black {
  background-color: transparent;
  border: 1px solid #D4D5D8;
  color: #0A100D;
}

.button.btn-danger {
  background-color: #FF3D3A;
  color: white;
  border: 1px solid #FF3D3A;
}

.pagination {
  border-radius: 0;
}

.pagination .page-item .page-link {
  border: none;
  color: #0A100D;
  font-size: 1rem;
  padding: .5rem;
}

.pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus, .pagination .page-item .page-link:active {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pagination .page-item.active .page-link, .pagination .page-item:hover .page-link {
  background-color: transparent;
  border-bottom: 2px solid #5C9C52;
}

.pagination .page-item:last-child .page-link, .pagination .page-item:first-child .page-link {
  border-radius: 0;
}

.navbar {
  color: #5C9C52;
  background-color: white;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container .navbar-brand {
  padding: 1rem 0;
}

.navbar .container .menu-lists ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.navbar .container .menu-lists ul a {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.navbar .container .menu-lists ul a:hover, .navbar .container .menu-lists ul a:active, .navbar .container .menu-lists ul a:focus, .navbar .container .menu-lists ul a.active {
  color: #F96900;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.navbar .container .menu-lists ul li {
  padding: 1rem;
}

.navbar .container .menu-lists ul li.active, .navbar .container .menu-lists ul li:hover, .navbar .container .menu-lists ul li:focus, .navbar .container .menu-lists ul li:active {
  color: #F96900;
}

.navbar .container .menu-lists ul .button {
  margin-left: 1rem;
}

.navbar .container .hamburger {
  display: none;
}

.navbar .container .offcanvas {
  width: 330px;
  color: #5C9C52;
  padding: 0 1rem;
  padding-top: 2rem;
}

.navbar .container .offcanvas .btn-close {
  color: white !important;
}

.navbar .container .offcanvas ul {
  padding: 2rem 0;
  font-weight: 700;
  font-size: 18px;
  margin-top: 2rem;
}

.navbar .container .offcanvas ul li {
  padding-bottom: 1.5rem;
}

.navbar .container .offcanvas ul li.active, .navbar .container .offcanvas ul li:hover, .navbar .container .offcanvas ul li:focus, .navbar .container .offcanvas ul li:active {
  color: #F96900;
}

.navbar .container .offcanvas ul .button {
  margin-bottom: 1.5rem;
}

.navbar .container .offcanvas ul .btn-hollow {
  color: #5C9C52;
  border: 2px solid #5C9C52;
}

.navbar .container .offcanvas ul .btn-white {
  color: white;
  background-color: #5C9C52;
  border-color: #5C9C52;
}

@media (max-width: 60em) {
  .navbar {
    background-color: white;
  }
  .navbar .container {
    padding: 0 1rem !important;
  }
  .navbar .container .menu-lists {
    display: none;
  }
  .navbar .container .navbar-brand {
    padding: .5rem 0;
  }
  .navbar .container .navbar-brand img {
    max-width: 150px;
  }
  .navbar .container .hamburger {
    display: block;
  }
}

.index .navbar {
  background-color: #7EC173;
  color: white;
}

.index .navbar .menu-lists .btn-hollow-primary {
  color: white;
  border-color: white;
}

.index .navbar .menu-lists .btn-primary {
  background-color: white;
  color: #5C9C52;
  border-color: white;
}

.title {
  margin-bottom: 4rem;
  text-align: center;
}

@media (max-width: 37.5em) {
  .title {
    margin-bottom: 2rem;
  }
  .title h2 {
    font-size: 22px;
    font-weight: 700;
  }
}

.hero {
  background: #7EC173;
  margin-top: -2px;
}

.hero .container {
  color: white;
  padding: 3rem 0 6rem;
}

.hero .container .hero-text h1 {
  font-size: 68px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero .container .hero-text h6 {
  margin-bottom: 1.5rem;
}

.hero .container .hero-text .button {
  font-weight: 700;
  padding: 1rem 1.5rem !important;
  font-size: 20px;
}

@media (max-width: 60em) {
  .hero .container {
    padding: 2rem 1rem !important;
  }
  .hero .container .hero-text {
    margin-bottom: 2rem;
  }
  .hero .container .hero-text h1 {
    font-size: 38px;
  }
  .hero .container .hero-text h6 {
    font-size: 1rem;
  }
  .hero .container .hero-text .buttons {
    display: block !important;
  }
  .hero .container .hero-text .buttons .btn-white, .hero .container .hero-text .buttons .btn-hollow {
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: .75rem 1.5rem !important;
  }
}

@media (max-width: 37.5em) {
  .hero .container .hero-text .btn-hollow {
    display: none;
  }
}

.invest {
  padding: 5rem 0;
}

@media (max-width: 60em) {
  .invest {
    padding: 2rem 0;
  }
}

.invest .container {
  padding: 0 2rem;
}

.invest .container .items .item {
  padding: 1.5rem 1.5rem;
}

.invest .container .items .item .img {
  margin-bottom: 40px;
}

.invest .container .items .item h4 {
  margin-bottom: 1rem;
  font-weight: 500;
}

.invest .container .items .item h6 {
  font-weight: 400;
  color: #9E9EA9;
}

.projects {
  padding: 5rem 0;
}

@media (max-width: 60em) {
  .projects {
    padding: 2rem 0;
  }
}

.projects.page {
  padding: 0;
}

.projects.page > .container {
  padding: 5rem 0;
}

@media (min-width: 64em) {
  .projects.page .header {
    width: 70%;
    margin: auto;
  }
}

.projects.page .header .header-title {
  font-weight: 700;
  margin-bottom: 3rem;
}

.projects.page .header .search-projects {
  position: relative;
}

.projects.page .header .search-projects input {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 24px;
  border: 1px solid #9E9EA9;
  padding-right: 30px;
}

.projects.page .header .search-projects .search-icon {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.projects .project {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  padding-top: 0;
  margin-bottom: 2rem;
}

.projects .project .project-image {
  margin-bottom: .5rem;
}

.projects .project .project-image img {
  border-radius: 1rem 1rem 0 0;
}

.projects .project .project-header, .projects .project .project-body, .projects .project .project-footer {
  padding: .5rem 1rem;
}

.projects .project .project-header p, .projects .project .project-header h5, .projects .project .project-body p, .projects .project .project-body h5, .projects .project .project-footer p, .projects .project .project-footer h5 {
  margin-bottom: .5rem;
}

.projects .project-link {
  margin-top: 2rem;
  text-align: center;
}

.projects .project-link .button {
  padding: 1rem 3rem !important;
  font-size: 20px;
}

.method {
  padding: 5rem 0;
}

@media (max-width: 60em) {
  .method {
    padding: 2rem 0;
  }
}

.method .title {
  margin-bottom: 2rem;
}

.method .nav-tabs {
  border-bottom: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.method .nav-tabs .nav-link {
  border: 2px solid #5C9C52;
  color: #5C9C52;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  padding: .75rem 2rem;
  font-size: 20px;
}

.method .nav-tabs .nav-link:first-child {
  border-radius: 2rem 0 0 2rem;
  border-right: 1px solid #5C9C52;
}

.method .nav-tabs .nav-link:last-child {
  border-radius: 0 2rem 2rem 0;
  border-left: 1px solid #5C9C52;
}

.method .nav-tabs .nav-link.active {
  background-color: #5C9C52;
  color: white;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

@media (max-width: 60em) {
  .method .nav-tabs .nav-link {
    font-size: 16px;
    padding: .5rem 1.5rem;
  }
}

.method .tab-pane {
  padding: 2rem 0;
}

@media (max-width: 60em) {
  .method .tab-pane .method-desc {
    margin-top: 1.5rem;
  }
}

.method .tab-pane .method-image img {
  border-radius: .5rem;
}

.method .tab-pane .number {
  padding: .5rem;
  border-radius: 50%;
  background-color: #5C9C52;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: 700;
  margin-right: 1rem;
}

.method .tab-pane .step {
  color: #5C9C52;
  font-size: 20px;
  font-weight: 500;
}

.method .tab-pane .step-desc {
  padding-left: 36px;
  margin-left: 20px;
  padding-top: .5rem;
  padding-bottom: 1rem;
  border-left: 2px solid #C9C9CF;
}

.method .tab-pane .step-desc:last-child {
  border-left: none;
}

.team {
  padding: 5rem 0;
}

@media (max-width: 60em) {
  .team {
    padding: 2rem 0;
  }
}

.team .item {
  text-align: center;
  padding: 0 .5rem;
}

.team .item img {
  width: 100%;
}

.team .item .team-name {
  color: #F96900;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: .5rem;
}

.team .item p {
  font-size: 18px;
}

@media (max-width: 60em) {
  .team .item {
    margin-bottom: 2rem;
  }
  .team .item .team-name {
    font-size: 20px;
  }
  .team .item p {
    font-size: 1rem;
  }
}

.cta {
  position: relative;
  color: white;
}

.cta .background {
  position: absolute;
  width: 100%;
  height: 75%;
  top: 25%;
  background-color: #5C9C52;
  z-index: -1;
}

@media (min-width: 64em) {
  .cta .col-lg-3 {
    width: 27%;
  }
  .cta .col-lg-9 {
    width: 73%;
  }
}

@media (max-width: 37.5em) {
  .cta .background {
    height: 100%;
    top: 0;
  }
  .cta .container {
    padding: 0 1rem !important;
  }
  .cta .container img {
    max-width: 220px;
  }
  .cta .container .col-lg-3 {
    text-align: center;
    margin-top: 1rem;
  }
  .cta .container .col-lg-9 {
    padding-left: .75rem;
    text-align: center;
  }
}

.cta .cta-text {
  margin-top: 10%;
  padding-left: 4rem;
  padding-bottom: 1rem;
}

.cta .cta-text h4 {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2rem;
}

.cta .cta-text h5 {
  margin-bottom: 2rem;
  font-size: 20px;
  font-weight: 500;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .cta .background {
    height: 85%;
    top: 15%;
  }
  .cta .cta-text {
    padding-left: 1rem;
  }
  .cta .cta-text h4 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
  }
  .cta .cta-text h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.footer {
  padding: 3rem 0;
  background-color: #2C302E;
  color: white;
}

.footer .footer-logo {
  margin-bottom: 3rem;
}

.footer h5 {
  font-size: 22px;
}

.footer .footer-risk {
  margin-top: 2rem;
  border-top: 1px solid white;
  padding-top: 2rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: .75rem;
  margin-right: .75rem;
}

.footer .footer-risk h5 {
  margin-bottom: 2rem;
}

.footer .copyright {
  margin-top: 2rem;
  border-top: 1px solid white;
  padding-top: 2rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: .75rem;
  margin-right: .75rem;
}

.footer .copyright .links a {
  text-decoration: underline;
}

@media (max-width: 60em) {
  .footer .footer-item {
    margin-bottom: 3rem;
  }
  .footer .footer-item:last-child {
    margin-bottom: 1rem;
  }
  .footer .footer-risk, .footer .copyright {
    margin-left: 0;
    margin-right: 0;
    padding-left: .75rem;
    padding-right: .75rem;
  }
  .footer .links {
    margin-bottom: 2rem;
  }
  .footer .links .d-flex {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

.progress {
  margin-bottom: 1rem;
  color: white;
  position: relative;
}

.progress .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.progress .progress-bar {
  background-color: #5C9C52;
}

.sidebar {
  background: #5C9C52;
  color: white;
  padding: 3rem 1.5rem;
  border-radius: 8px 0 0 8px;
}

.sidebar .sidebar-header {
  text-align: center;
  margin-bottom: 3rem;
}

.sidebar .sidebar-header .image {
  margin-bottom: .75rem;
}

.sidebar .sidebar-header .image img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.sidebar .sidebar-header h5 {
  margin-bottom: 4px;
}

.sidebar .sidebar-header p {
  font-weight: 500;
}

.sidebar .sidebar-menu ul {
  padding: 0;
  margin: 0;
}

.sidebar .sidebar-menu ul li {
  padding: 1rem;
  margin-bottom: 1rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .sidebar-menu ul li img {
  margin-right: 1rem;
  width: 24px;
  height: auto;
}

.sidebar .sidebar-menu ul li:hover, .sidebar .sidebar-menu ul li.active {
  background-color: #DEFFD4;
  color: #F96900;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-weight: 700;
}

.sidebar .sidebar-menu ul li:hover img, .sidebar .sidebar-menu ul li.active img {
  color: #F96900;
}

.sidebar .sidebar-menu ul .account {
  margin-bottom: 4rem;
}

.sidebar-mobile {
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  visibility: hidden;
  z-index: 99;
}

.sidebar-mobile.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.sidebar-mobile .sidebar {
  min-width: 300px;
  height: 100vh;
  border-radius: 0;
  padding: 2rem 1rem;
  background-color: white;
  color: #0A100D;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: auto;
}

.sidebar-mobile .sidebar .sidebar-menu {
  overflow-y: auto;
}

.sidebar-mobile .sidebar .sidebar-menu ul {
  padding: 0 1rem;
}

.sidebar-mobile .sidebar .sidebar-menu ul li {
  border-bottom: 1px solid #E5E5E5;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

.sidebar-mobile .sidebar .sidebar-menu ul li:hover, .sidebar-mobile .sidebar .sidebar-menu ul li.active {
  background-color: transparent;
  color: #F96900;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-weight: 700;
}

.sidebar-mobile .sidebar .sidebar-menu ul li:hover img, .sidebar-mobile .sidebar .sidebar-menu ul li.active img {
  color: #F96900;
}

.about .title {
  margin-bottom: 2rem;
  color: #F96900;
  text-align: left;
}

.about .header h1 {
  font-size: 52px;
  font-weight: 700;
  padding: 2rem 0 3rem;
}

.about .header .images {
  margin-bottom: 2rem;
}

.about .header .underline {
  position: relative;
}

.about .header .underline:after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 1rem;
  background: #5C9C52;
  bottom: 6px;
  left: 0;
  z-index: -1;
}

@media (max-width: 60em) {
  .about .header h1 {
    font-size: 34px;
  }
  .about .header .underline:after {
    height: .75rem;
  }
  .about .header .images div {
    margin-bottom: 1rem;
  }
}

.about .our-story {
  padding: 3rem 0;
  text-align: center;
}

@media (min-width: 64em) {
  .about .our-story .container > .row {
    width: 40%;
    margin: auto;
  }
}

.about .team {
  padding: 3rem 0;
}

.about .values {
  padding: 3rem 0;
}

.values .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 37.5em) {
  .values .container .content {
    display: block !important;
  }
}

.values .container .item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.values .container .item:not(:last-child) {
  margin-bottom: 6rem;
}

@media (max-width: 60em) {
  .values .container .item img {
    margin-bottom: 1rem;
  }
}

.values .container .item .item-title {
  color: #5C9C52;
  font-weight: 500;
  margin-bottom: 1rem;
}

.form-group .form-control, .form-group .form-select {
  padding: 1rem;
  font-size: 14px;
  border-radius: 6px;
}

.form-group .btn-upload {
  background-color: #5C9C52;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: .5rem 2rem !important;
}

.form-group .form-file {
  border-color: white;
}

.form-group .form-label {
  font-weight: 500;
}

.form-group .form-title {
  padding: .5rem 1rem;
  background: #F4F4F5;
  margin-bottom: 20px;
  border-radius: 8px;
}

.form-group .form-title span {
  color: #F96900;
  font-weight: 700;
  font-size: 20px;
}

.register {
  padding: 3rem 0;
}

@media (max-width: 60em) {
  .register {
    padding: .5rem 0;
  }
}

@media (min-width: 64em) {
  .register .form {
    width: 70%;
    margin: auto;
  }
}

.register .form .header .social {
  margin: 0 1rem;
}

.register .form .header .with-email p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.register .form .header .with-email p:before, .register .form .header .with-email p:after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 1px solid #DFE0E2;
  margin: auto;
}

.register .form .header .with-email p:before {
  margin-right: 10px;
}

.register .form .header .with-email p:after {
  margin-left: 10px;
}

.register .form .validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register .form .validation .validation-icon {
  width: 8px;
  height: 8px;
  background-color: #C4C4C4;
  margin-right: 1rem;
  border-radius: 50%;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.register .form .validation .validation-icon.active {
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 0;
  height: 16px;
  width: 8px;
  background-color: transparent;
  border-bottom: 3px solid #5C9C52;
  border-right: 3px solid #5C9C52;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.register .form .btn-secondary {
  padding: 1rem !important;
}

.register-done .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

@media (min-width: 64em) {
  .register-done .container .row {
    width: 40%;
    margin: auto;
  }
}

.register-progress {
  margin-bottom: 2rem;
  padding-left: 1rem;
}

@media (max-width: 60em) {
  .register-progress {
    -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: .75rem 1rem;
  }
}

.register-progress .col-4 {
  padding: 0 !important;
  margin-left: -4px;
}

.register-progress .col-4:first-child .circle-wrapper {
  margin-left: 25%;
}

.register-progress .circle {
  width: 1rem;
  height: 1rem;
  background-color: #F4F4F5;
  border-radius: 50%;
}

.register-progress .circle .number {
  display: none;
}

.register-progress .circle.active {
  background-color: #5C9C52;
}

@media (max-width: 60em) {
  .register-progress .circle {
    width: 2rem;
    height: 2rem;
    position: relative;
  }
  .register-progress .circle .number {
    display: block;
    color: #C9C9CF;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .register-progress .circle.active .number {
    color: white;
  }
}

.register-progress .line {
  height: 4px;
  background-color: #C9C9CF;
  width: 100%;
  border-radius: 4px;
  position: relative;
}

.register-progress .line.half {
  width: 50%;
}

.register-progress .line.active-half:after {
  content: '';
  position: absolute;
  border-radius: 4px;
  height: 3px;
  width: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background-color: #5C9C52;
}

.register-progress .line.active-full:after {
  content: '';
  position: absolute;
  border-radius: 4px;
  height: 3px;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background-color: #5C9C52;
}

.register-progress .upload {
  padding-left: 1rem;
}

.register-progress span {
  display: none;
  font-size: 12px;
  color: #5C9C52;
  font-weight: 700;
}

@media (min-width: 64em) {
  .register-progress span {
    display: block;
  }
}

.personal-info {
  padding: 3rem 0;
}

@media (max-width: 60em) {
  .personal-info {
    padding: .5rem 0;
  }
}

.personal-info .image {
  padding-right: 1rem;
}

.personal-info .btn-submit {
  min-width: 300px;
  padding: 1rem !important;
}

.document-info {
  padding: 3rem 0;
}

@media (max-width: 60em) {
  .document-info {
    padding: .5rem 0;
  }
}

.document-info .container .button {
  margin: 0 .5rem;
  width: 100%;
  padding: 1rem !important;
}

.modal .modal-content {
  border-radius: 32px 32px 0 0;
}

.modal .modal-content .modal-header {
  display: block;
  text-align: center;
  position: relative;
}

.modal .modal-content .modal-header .btn-close {
  position: absolute;
  left: 1rem;
  top: 50%;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

.modal .modal-content .modal-body {
  padding: 1rem 2rem;
}

.content-blank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.content-blank .btn-secondary {
  padding: 1rem 2rem !important;
}

.dashboard .content .content-header {
  margin-bottom: 2.5rem;
}

.dashboard .content .content-header .card-item {
  font-family: 'Open Sans', sans-serif;
  padding: 1.5rem 1rem;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
}

.dashboard .content .content-header .card-item p {
  margin-bottom: .5rem;
}

.dashboard .content .content-header .card-item h4 {
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.dashboard .content .content-header .card-item .button {
  border-radius: 8px;
  width: 50%;
  text-align: center;
}

.dashboard .content .content-header .card-item .button:first-child {
  margin-right: .5rem;
  font-weight: bold;
}

.dashboard .content .content-header .card-item .button:last-child {
  margin-left: .5rem;
}

.dashboard .content .content-header .col-12:last-child .card-item h4 {
  margin-bottom: 2rem;
}

.dashboard .content .projects-dashboard h5 {
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.dashboard .content .projects-dashboard .item {
  border: 1px solid #f0f0f0;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.dashboard .content .projects-dashboard .item .project-header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #DFE0E2;
}

@media (max-width: 60em) {
  .dashboard .content .projects-dashboard .item .project-header .d-flex {
    margin-bottom: 1rem;
  }
}

.dashboard .content .projects-dashboard .item .project-header img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1rem;
}

.dashboard .content .projects-dashboard .item .project-header .project-title {
  font-weight: 700;
}

.dashboard .content .projects-dashboard .item .project-header .grey-color {
  font-size: 14px;
}

.dashboard .content .projects-dashboard .item .project-header .progress {
  margin-top: 1rem;
}

.dashboard .content .projects-dashboard .item .project-footer .grey-color {
  font-size: 12px;
  margin-bottom: .5rem;
}

.dashboard .content .projects-dashboard .item .project-footer .btn-secondary {
  float: right;
  border-radius: 8px;
  padding: 1rem 3rem !important;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 60em) {
  .dashboard .content .projects-dashboard .item .project-footer .btn-secondary {
    margin-top: 1.5rem;
    padding: .75rem 1rem !important;
    width: 100%;
  }
}

.penerbit .header-button {
  margin-bottom: 3rem;
}

.penerbit .content {
  padding: 2rem 0;
}

.penerbit .content .items:not(:last-child) {
  margin-bottom: 2rem;
}

.penerbit .content .items h5 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.penerbit .content .items .item {
  margin-bottom: .5rem;
  padding: 1.5rem;
  border: 1px solid #EAEAEC;
  border-radius: 16px;
  font-family: 'Nunito Sans', sans-serif;
}

@media (max-width: 60em) {
  .penerbit .content .items .item .project-header .d-flex {
    margin-bottom: 1rem;
  }
}

.penerbit .content .items .item .item-border {
  padding-left: 1rem;
  border-left: 1px solid #C9C9CF;
}

.penerbit .content .items .item .button {
  border-radius: 4px;
  padding: .5rem 1rem !important;
}

.penerbit .content .items .item .button:first-child {
  margin-right: .5rem;
}

@media (max-width: 60em) {
  .penerbit .content .items .item .item-border {
    padding: 0;
    border-left: none;
  }
  .penerbit .content .items .item .item-border:first-child {
    margin-bottom: 1rem;
  }
}

.penerbit .nav-tabs {
  border-bottom: none;
  margin-bottom: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 60em) {
  .penerbit .nav-tabs {
    white-space: nowrap;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: auto;
    padding-bottom: 1rem;
  }
}

.penerbit .nav-tabs .nav-link {
  border: 0;
  border-bottom: 1px solid #EAEAEC;
  padding-bottom: 14px;
  color: #9E9EA9;
}

.penerbit .nav-tabs .nav-link.active {
  color: #5C9C52;
  font-weight: 700;
  border-bottom: 2px solid #5C9C52;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@media (max-width: 37.5em) {
  .container {
    padding: 1rem !important;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
}

h6 {
  font-size: 18px;
}

@media (max-width: 60em) {
  h6 {
    font-size: 16px;
  }
}

.semibold {
  font-weight: 600;
}

.regular {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */