
.title {
    margin-bottom: 4rem;
    text-align: center;

    h3 {
        font-size: 34px;
    }
}

.navbar {
    background-color: $header;
    color: white;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-brand {
            padding: 1rem 0;
        }

        .menu-lists {
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                font-weight: 700;

                li {
                    padding: 1rem;
                }

                .button {
                    margin-left: 1rem;
                }
            }
        }
    }
}

.hero {
    background: $header;
    margin-top: -2px;

    .container {
        color: white;
        padding: 3rem 0 6rem;

        .hero-text {
            h1 {
               font-size: 68px;
               font-weight: 700; 
               margin-bottom: 1rem;
            }

            h6 {
                margin-bottom: 1.5rem;
            }

            .button {
                font-weight: 700;
                padding: 1rem 1.5rem !important;
                font-size: 20px;
            }
        }
    }
}

.invest {
    padding: 5rem 0;

    .container {
        padding: 0 2rem;
    
        .items {
            .item {
                padding: 1.5rem 1.5rem;
                .img {
                    margin-bottom: 40px;
                }
    
                h4 {
                    margin-bottom: 1rem;
                    font-weight: 500;
                }
    
                h6 {
                    font-weight: 400;
                    color: $grey;
                }
            }
        }
    }
}

.projects {
    padding: 5rem 0;

    .project {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
        border-radius: 16px;
        padding-top: 0;
        margin-bottom: 2rem;

        .project-image {
            margin-bottom: .5rem;
            img {
                border-radius: 1rem 1rem 0 0;
            }
        }

        .project-header, .project-body, .project-footer {
            padding: .5rem 1rem;

            p, h5 {
                margin-bottom: .5rem;
            }

            .progress {
                margin-bottom: 1rem;
                color: white;
                position: relative;

                .text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .progress-bar {
                    background-color: $primary;
                }
            }
        }
    }

    .project-link {
        margin-top: 2rem;
        text-align: center;

        .button {
            padding: 1rem 3rem !important;
            font-size: 20px;
        }
    }
}

.method {
    padding: 5rem 0;

    .title {
        margin-bottom: 2rem;
    }
    .nav-tabs {
        border-bottom: none;
        justify-content: center;

        .nav-link {
            border: 2px solid $primary;
            color: $primary;
            transition: all .2s ease;
            padding: .75rem 2rem;
            font-size: 20px;
            
            &:first-child {
                border-radius: 2rem 0 0 2rem;
                border-right: 1px solid $primary;
            }

            &:last-child {
                border-radius: 0 2rem 2rem 0;
                border-left: 1px solid $primary;
            }

            &.active {
                background-color: $primary;
                color: white;
                transition: all .2s ease;
            }
        }
    }

    .tab-pane {
        padding: 2rem 0;

        .method-image {
            img {
                border-radius: .5rem;
            }
        }

        .number {
            padding: .5rem;
            border-radius: 50%;
            background-color: $primary;
            color: white;
            width: 40px;
            height: 40px;
            text-align: center;
            font-weight: 700;
            margin-right: 1rem;
        }

        .step {
            color: $primary;
            font-size: 20px;
            font-weight: 500;
        }

        .step-desc {
            padding-left: 36px;
            margin-left: 20px;
            padding-top: .5rem;
            padding-bottom: 1rem;
            border-left: 2px solid #C9C9CF;

            &:last-child {
                border-left: none;
            }
        }
    }
}

.team {
    padding: 5rem 0;

    .item {
        text-align: center;
        padding: 0 .5rem;

        img {
            width: 100%;
        }
        
        .team-name {
            color: $secondary;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: .5rem;
        }

        p {
            font-size: 20px;
        }
    }
}

.cta {
    position: relative;
    color: white;

    .background {
        position: absolute;
        width: 100%;
        height: 75%;
        top: 25%;
        background-color: $primary;
        z-index: -1;
    }

    .col-md-3 {
        width: 27%;
    }

    .col-md-9 {
        width: 73%;
    }

    .cta-text {
        margin-top: 10%;
        padding-left: 4rem;

        h4 {
            margin-bottom: 2rem;
            font-weight: 700;
            font-size: 2rem;
        }

        h5 {
            margin-bottom: 2rem;
            font-size: 20px;
            font-weight: 500;
        }
    }
}