.navbar {
    color: $primary;
    background-color: white;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-brand {
            padding: 1rem 0;
        }

        .menu-lists {
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                font-weight: 700;

                a {
                    transition: all .2s ease;
                    &:hover, &:active, &:focus, &.active {
                        color: $secondary;
                        transition: all .2s ease;
                    }
                }

                li {
                    padding: 1rem;
                }

                .button {
                    margin-left: 1rem;
                }
            }
        }

        .hamburger {
            display: none;
        }

        .offcanvas {
            width: 330px;
            color: $primary;
            padding: 0 1rem;
            padding-top: 2rem;

            .btn-close {
                color: white !important;
            }

            ul {
                padding: 2rem 0;
                font-weight: 700;
                font-size: 18px;
                margin-top: 2rem;

                li {
                    padding-bottom: 1.5rem;
                }

                .button {
                    margin-bottom: 1.5rem;
                }

                .btn-hollow {
                    color: $primary;
                    border: 2px solid $primary;
                }

                .btn-white {
                    color: white;
                    background-color: $primary;
                    border-color: $primary;
                }
            }
        }
    }

    

    @include breakpoint(untilTablet) {
        background-color: white;

        .container {
            padding: 0 1rem !important;
            .menu-lists {
                display: none;
            }
    
            .navbar-brand {
                padding: .5rem 0;
                img {
                    max-width: 150px;
                }
            }
    
            .hamburger {
                display: block;
            }
        }
    }
}
