$primary: #5C9C52;
$secondary: #F96900;
$grey: #9E9EA9;
$header: #7EC173;
$black: #0A100D;
$danger: #FF3D3A;
$success: #46C938;

/* BREAKPOINTS */
@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 70em) {
        @content;
      }
    } @else if $point == laptop {
      @media (min-width: 64em) {
        @content;
      }
    } @else if $point == tablet {
      @media (min-width: 50em) {
        @content;
      }
    } @else if $point == phablet {
      @media (min-width: 37.5em) {
        @content;
      }
    } @else if $point == mobileonly {
      @media (max-width: 37.5em) {
        @content;
      }
    }
    @else if $point == untilTablet {
      @media (max-width: 60em) {
        @content;
      }
    }
}

.primary-color {
  color: $primary;
}

.secondary-color {
  color: $secondary;
}

.grey-color {
  color: $grey;
}

.success-color {
  color: $success;
}

.danger-color {
  color: $danger;
}

.button {
    padding: .6rem 2.5rem !important;
    background-color: $primary;
    color: white;
    border-radius: 40px;
    border: 2px solid $primary;
    display: inline-block;
    text-align: center;
    transition: all .2s ease;

    &:hover, &:active {
      background-color: darken($primary, 10%);
      border-color: $primary;
      transition: all .2s ease;
    }

    &.full {
      width: 100%;
    }

    &.btn-white {
        background-color: white;
        color: $primary;
        border: 2px solid white;

    }

    &.btn-secondary {
        background-color: $secondary;
        color: white;
        border: 2px solid $secondary;

        &:hover, &:active {
          background-color: darken($secondary, 10%);
        }
    }

    &.btn-hollow {
        background-color: transparent;
        color: white;
        border: 2px solid white;
    }

    &.btn-hollow-secondary {
        background-color: transparent;
        color: $secondary;
        border: 2px solid $secondary;
    }

    &.btn-hollow-primary {
      background-color: transparent;
      color: $primary;
      border: 2px solid $primary;
    }

    &.btn-hollow-black {
      background-color: transparent;
      border: 1px solid #D4D5D8;
      color: $black;
    }

    &.btn-danger {
      background-color: $danger;
      color: white;
      border: 1px solid $danger;
    }
}

.pagination {
  border-radius: 0;

  .page-item {
    
    .page-link {
      border: none;
      color: $black;
      font-size: 1rem;
      padding: .5rem;

      &:hover, &:focus, &:active {
        background-color: transparent;
        box-shadow: none;
      }
    }
    &.active, &:hover {
      .page-link {
        background-color: transparent;
        border-bottom: 2px solid $primary;
      }
    }

    &:last-child, &:first-child {
      .page-link {
        border-radius: 0;
      }
    }
  }
}