$primary: #5C9C52;
$secondary: #F96900;
$grey: #9E9EA9;
$header: #7EC173;

/* BREAKPOINTS */
@mixin breakpoint($point) {
    @if $point == desktop {
      @media (min-width: 70em) {
        @content;
      }
    } @else if $point == laptop {
      @media (min-width: 64em) {
        @content;
      }
    } @else if $point == tablet {
      @media (min-width: 50em) {
        @content;
      }
    } @else if $point == phablet {
      @media (min-width: 37.5em) {
        @content;
      }
    } @else if $point == mobileonly {
      @media (max-width: 37.5em) {
        @content;
      }
    }
    @else if $point == untilTablet {
      @media (max-width: 60em) {
        @content;
      }
    }
}

.primary-color {
  color: $primary;
}

.secondary-color {
  color: $secondary;
}

.button {
    padding: .6rem 2.5rem !important;
    background-color: $primary;
    color: white;
    border-radius: 40px;
    border: 2px solid $primary;
    display: inline-block;

    &.full {
      width: 100%;
    }

    &.btn-white {
        background-color: white;
        color: $primary;
        border: 2px solid white;

    }

    &.btn-secondary {
        background-color: $secondary;
        color: white;
        border: 2px solid $secondary;
    }

    &.btn-hollow {
        background-color: transparent;
        color: white;
        border: 2px solid white;
    }

    &.btn-hollow-secondary {
        background-color: transparent;
        color: $secondary;
        border: 2px solid $secondary;
    }

    &.btn-hollow-primary {
      background-color: transparent;
      color: $primary;
      border: 2px solid $primary;
  }
}