@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import 'variables';
@import 'index';

html, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@include breakpoint(mobileonly) {
    .container {
        padding: 1rem !important;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
}

h6 {
    font-size: 18px;

    @include breakpoint(untilTablet) {
        font-size: 16px;
    }
}