.form-group {
    .form-control, .form-select {
        padding: 1rem;
        font-size: 14px;
        border-radius: 6px;
    }

    .btn-upload {
        background-color: $primary;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        padding: .5rem 2rem !important;
    }

    .form-file {
        border-color: white;
    }

    .form-label {
        font-weight: 500;
    }
    .form-title {
        padding: .5rem 1rem;
        background: #F4F4F5;
        margin-bottom: 20px;
        border-radius: 8px;

        span {
            color: $secondary;
            font-weight: 700;
            font-size: 20px;
        }
    }

}

.register {
    padding: 3rem 0;
    .form {
        @include breakpoint(laptop) {
            width: 70%;
            margin: auto;
        } 

        .header {
            .social {
                margin: 0 1rem;
            }
    
            .with-email {
                p {
                    display: flex;
                    flex-direction: row;
                }
                p:before, p:after{
                    content: "";
                    flex: 1 1;
                    border-bottom: 1px solid #DFE0E2;
                    margin: auto;
                }
                p:before {
                    margin-right: 10px
                }
                p:after {
                    margin-left: 10px
                }
            }
        }

        .validation {
            display: flex;
            align-items: center;
            .validation-icon {
                width: 8px;
                height: 8px;
                background-color: #C4C4C4;
                margin-right: 1rem;
                border-radius: 50%;
                transition: all .2s ease;

                &.active {
                    display: inline-block;
                    transform: rotate(45deg);
                    border-radius: 0;
                    height: 16px;
                    width: 8px;
                    background-color: transparent;
                    border-bottom: 3px solid $primary;
                    border-right: 3px solid $primary;
                    transition: all .2s ease;
                }
            }

           
        }

        .btn-secondary {
            padding: 1rem !important;
        }
    }
    
}

.register-done {
    .container {
        .row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 80vh;
            @include breakpoint(laptop) {
                width: 40%;
                margin: auto;
            } 
        }
    }
}

.register-progress {
    margin-bottom: 2rem;
    padding-left: 1rem;
    .col-4 {
        padding: 0 !important;
        margin-left: -4px;

        &:first-child {
            .circle-wrapper {
                margin-left: 25%;
            }
        }
    }
    
    .circle {
        width: 1rem;
        height: 1rem;
        background-color: $primary;
        border-radius: 50%;
    }

    .line {
        height: 4px;
        background-color: #C9C9CF;
        width: 100%;
        border-radius: 4px;
        position: relative;

        &.half {
            width: 50%;
        }

        &.active-half {
            &:after {
                content: '';
                position: absolute;
                border-radius: 4px;
                height: 3px;
                width: 50%;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                background-color: $primary;
            }
        }
        &.active-full {
            &:after {
                content: '';
                position: absolute;
                border-radius: 4px;
                height: 3px;
                width: 100%;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                background-color: $primary;
            }
        }
    }
    .upload {
        padding-left: 1rem;
    }

    span {
        font-size: 12px;
        color: $primary;
        font-weight: 700;
    }
}

.personal-info {
    padding: 3rem 0;

    .image {
        padding-right: 1rem;
    }

    .btn-submit {
        min-width: 300px;
        padding: 1rem !important;
    }
}

.document-info {
    padding: 3rem 0;

    .container {
        .button {
            margin: 0 .5rem;
            width: 100%;
            padding: 1rem !important;
        }
    }
}

.modal {
    .modal-content {
        border-radius: 32px 32px 0 0;

        .modal-header {
            display: block;
            text-align: center;
            position: relative;

            .btn-close {
                position: absolute;
                left: 1rem;
                top: 50%;
                transform: translateY(-25%);
            }
        }
        .modal-body {
            padding: 1rem 2rem;
        }
    }
}