<nav class="navbar">
    <div class="container">
        <a class="hamburger sidebar-icon" data-bs-toggle="offcanvasSidebar" href="#offcanvasSidebar" role="button"
            aria-controls="offcanvasSidebar">
            <img src="images/sidebar/menu.png" alt="Navigations">
        </a>

        <a class="navbar-brand" href="/index.html">
            <img src="images/logo.png" alt="Greenfund">
        </a>

        <div class="menu-lists">
            <ul>
                <a href="/dashboard.html">
                    <li>
                        Dashboard
                    </li>
                </a>
                <a href="/projects.html">
                    <li>
                        List Proyek
                    </li>
                </a>

                <a href="/about.html">
                    <li>
                        Tentang Kami
                    </li>
                </a>
                <a href="">
                    <li>
                        FAQ
                    </li>
                </a>
            </ul>
        </div>

        <a class="hamburger" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
            aria-controls="offcanvasExample">
            <img src="images/icon-hamburger.png" alt="Navigations">
        </a>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <a class="navbar-brand" href="/index.html">
                    <img src="images/logo.png" alt="Greenfund">
                </a>
                <ul>
                    <a href="/dashboard.html">
                        <li>
                            Dashboard
                        </li>
                    </a>
                    <a href="/projects.html">
                        <li>
                            List Proyek
                        </li>
                    </a>

                    <a href="/about.html">
                        <li>
                            Tentang Kami
                        </li>
                    </a>
                    <a href="">
                        <li>
                            FAQ
                        </li>
                    </a>
                </ul>
            </div>
        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasSidebar"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="sidebar">
                    <div class="sidebar-header">
                        <div class="image"><img src="/images/sidebar/userImage.png" alt=""></div>
                        <h5>Eren Yeager</h4>
                            <p>erenyeager@gmail.com</p>
                    </div>
                    <div class="sidebar-menu">
                        <ul>
                            <a href="">
                                <li class="nav-dashboard">
                                    <div><img src="/images/sidebar/dashboard.svg" alt=""></div>
                                    Dashboard
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <div>
                                        <img src="/images/sidebar/business.png" alt="">
                                    </div>
                                    Pemodal
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <div>
                                        <img src="/images/sidebar/briefcase.png" alt="">
                                    </div>
                                    Penerbit
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <div>
                                        <img src="/images/sidebar/transaksi.png" alt="">
                                    </div>
                                    Transaksi
                                </li>
                            </a>
                            <a href="">
                                <li class="account">
                                    <div>
                                        <img src="/images/sidebar/user.png" alt="">
                                    </div>
                                    Akun
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <div>
                                        <img src="/images/sidebar/headphones.png" alt="">
                                    </div>
                                    Support Center
                                </li>
                            </a>
                            <a href="">
                                <li>
                                    <div>
                                        <img src="/images/sidebar/logout.png" alt="">
                                    </div>
                                    Keluar
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>