<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="/index.html">
            <img src="images/logo.png" alt="Greenfund">
        </a>

        <div class="menu-lists">
            <ul>
                <a href="/projects.html">
                    <li>
                        List Proyek
                    </li>
                </a>

                <a href="/about.html">
                    <li>
                        Tentang Kami
                    </li>
                </a>
                <a href="">
                    <li>
                        FAQ
                    </li>
                </a>
                <a href="">
                    <li class="button btn-hollow-primary">
                        Masuk
                    </li>
                </a>
                <a href="">
                    <li class="button btn-primary">
                        Daftar
                    </li>
                </a>
            </ul>
        </div>

        <a class="hamburger" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
            aria-controls="offcanvasExample">
            <img src="images/icon-hamburger.png" alt="Navigations">
        </a>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">

                <a class="navbar-brand" href="/index.html">
                    <img src="images/logo.png" alt="Greenfund">
                </a>
                <ul>
                    <a href="/projects.html">
                        <li>
                            List Proyek
                        </li>
                    </a>

                    <a href="/about.html">
                        <li>
                            Tentang Kami
                        </li>
                    </a>
                    <a href="">
                        <li>
                            FAQ
                        </li>
                    </a>
                    <a href="">
                        <li class="button btn-hollow-primary">
                            Masuk
                        </li>
                    </a>
                    <a href="">
                        <li class="button btn-primary">
                            Daftar
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</nav>