<div class="sidebar">
    <div class="sidebar-header">
        <div class="image"><img src="/images/sidebar/userImage.png" alt=""></div>
        <h5>Eren Yeager</h4>
            <p>erenyeager@gmail.com</p>
    </div>
    <div class="sidebar-menu">
        <ul>
            <a href="">
                <li class="nav-dashboard">
                    <div><img src="/images/sidebar/dashboard.svg" alt=""></div>
                    Dashboard
                </li>
            </a>
            <a href="">
                <li>
                    <div>
                        <img src="/images/sidebar/business.png" alt="">
                    </div>
                    Pemodal
                </li>
            </a>
            <a href="">
                <li>
                    <div>
                        <img src="/images/sidebar/briefcase.png" alt="">
                    </div>
                    Penerbit
                </li>
            </a>
            <a href="">
                <li>
                    <div>
                        <img src="/images/sidebar/transaksi.png" alt="">
                    </div>
                    Transaksi
                </li>
            </a>
            <a href="">
                <li class="account">
                    <div>
                        <img src="/images/sidebar/user.png" alt="">
                    </div>
                    Akun
                </li>
            </a>
            <a href="">
                <li>
                    <div>
                        <img src="/images/sidebar/headphones.png" alt="">
                    </div>
                    Support Center
                </li>
            </a>
            <a href="">
                <li>
                    <div>
                        <img src="/images/sidebar/logout.png" alt="">
                    </div>
                    Keluar
                </li>
            </a>
        </ul>
    </div>
</div>